In [54]:
import pandas as pd
import numpy as np

In [ ]:
nodes_norway = pd.read_csv("../../Extraction/out/nodes_GTFS_ALL_FYLKER.csv")
edges_norway = pd.read_csv("../../Extraction/out/edges_GTFS_ALL_FYLKER_with_mondayTrips.csv")
display(nodes_norway.head()) 
display(edges_norway.head())

,id,stopPlaceId,name,lat,lon,modes,stopType
0,NSR:Quay:1173,NSR:Quay:1173,Oslo lufthavn,60.194220,11.099609,unknown,unknown
1,NSR:Quay:26169,NSR:Quay:26169,Sundvollen sentrum,60.062000,10.309736,bus,bus
2,NSR:Quay:26153,NSR:Quay:26153,Kroksund,60.066087,10.297885,bus,bus
3,NSR:Quay:26147,NSR:Quay:26147,Paddevika,60.074500,10.300500,bus,bus
4,NSR:Quay:26140,NSR:Quay:26140,Vik E16,60.077880,10.287076,"bus,coach service",multimodal

,from,to,lineId,lineCode,mode,authority,travelTimeSec,tripsInFeed,tripsOn2025_11_17
0,NSR:Quay:1173,NSR:Quay:1173,AVI:Line:WF_OSL-OSL,Oslo-Oslo,unknown,Avinor,11400.0,5,2
1,NSR:Quay:26169,NSR:Quay:26153,BRA:Line:26_4260,Flybuss Ringerike - Gardermoen,bus,Askeladden Reiser,NaN,6,8
2,NSR:Quay:26153,NSR:Quay:26147,BRA:Line:26_4260,Flybuss Ringerike - Gardermoen,bus,Askeladden Reiser,60.0,6,8
3,NSR:Quay:26147,NSR:Quay:26140,BRA:Line:26_4260,Flybuss Ringerike - Gardermoen,bus,Askeladden Reiser,60.0,6,8
4,NSR:Quay:26140,NSR:Quay:26116,BRA:Line:26_4260,Flybuss Ringerike - Gardermoen,bus,Askeladden Reiser,60.0,6,8

In [15]:
edges_norway = edges_norway[edges_norway["mode"] == "rail"]
nodes_norway = nodes_norway[nodes_norway["modes"].str.contains("rail")]
display(edges_norway.head())
display(nodes_norway.head())
print(f"Edges shape Oslo: {edges_norway.shape} | Nodes/Stops shape: {nodes_norway.shape}")

,from,to,lineId,lineCode,mode,authority,travelTimeSec,tripsInFeed,tripsOn2025_11_17
9085,NSR:Quay:1150,NSR:Quay:247,FLT:Line:FLY2,FLY2,rail,Flytoget,240.0,2940,100
9086,NSR:Quay:247,NSR:Quay:236,FLT:Line:FLY2,FLY2,rail,Flytoget,180.0,2940,100
9087,NSR:Quay:236,NSR:Quay:476,FLT:Line:FLY2,FLY2,rail,Flytoget,240.0,2940,100
9088,NSR:Quay:476,NSR:Quay:557,FLT:Line:FLY2,FLY2,rail,Flytoget,360.0,2940,100
9089,NSR:Quay:557,NSR:Quay:447,FLT:Line:FLY2,FLY2,rail,Flytoget,1140.0,6042,100

,id,stopPlaceId,name,lat,lon,modes,stopType
535,NSR:Quay:30086,NSR:Quay:30086,Gulskogen gård,59.746154,10.163695,"bus,rail",multimodal
555,NSR:Quay:28541,NSR:Quay:28541,Mjøndalen stasjon,59.750479,10.012134,"bus,rail",multimodal
574,NSR:Quay:30087,NSR:Quay:30087,Gulskogen gård,59.745948,10.163864,"bus,rail",multimodal
579,NSR:Quay:28539,NSR:Quay:28539,Mjøndalen stasjon,59.750649,10.011621,"bus,rail",multimodal
619,NSR:Quay:26294,NSR:Quay:26294,Hokksund stasjon,59.767310,9.911250,"bus,rail",multimodal

Edges shape Oslo: (1156, 9) | Nodes/Stops shape: (349, 7)

In [16]:
stop_dict = {}

for _, row in nodes_norway.iterrows():
    stop_id = row["stopPlaceId"]
    name = row["name"]
    stop_dict[stop_id] = name

In [21]:
edges_norway = edges_norway.rename(columns={"from": "from_stop"})
edges_norway = edges_norway.rename(columns={"to": "to_stop"})

for row in edges_norway.itertuples():
    edges_norway.loc[row.Index, "from_stop"] = stop_dict[row.from_stop]
    edges_norway.loc[row.Index, "to_stop"] = stop_dict[row.to_stop]

In [22]:
display(edges_norway.head())

,from_stop,to_stop,lineId,lineCode,mode,authority,travelTimeSec,tripsInFeed,tripsOn2025_11_17
9085,Stabekk stasjon,Lysaker stasjon,FLT:Line:FLY2,FLY2,rail,Flytoget,240.0,2940,100
9086,Lysaker stasjon,Skøyen stasjon,FLT:Line:FLY2,FLY2,rail,Flytoget,180.0,2940,100
9087,Skøyen stasjon,Nationaltheatret stasjon,FLT:Line:FLY2,FLY2,rail,Flytoget,240.0,2940,100
9088,Nationaltheatret stasjon,Oslo S,FLT:Line:FLY2,FLY2,rail,Flytoget,360.0,2940,100
9089,Oslo S,Oslo lufthavn stasjon,FLT:Line:FLY2,FLY2,rail,Flytoget,1140.0,6042,100

In [32]:
stop_times = pd.read_csv("stop_times.txt")
calender_dates = pd.read_csv("calendar_dates.txt")
display(calender_dates.head())
display(stop_times.head())

                                          service_id      date  exception_type
0  VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...  20251119               1
1  VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...  20251120               1
2  VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...  20251121               1
3  VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...  20251122               1
4  VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...  20251123               1

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
0,VYG:ServiceJourney:1002_385192-R,NSR:Quay:1038,04:42:00,04:42:00,1,NaN,1.0,0.0
1,VYG:ServiceJourney:1002_385192-R,NSR:Quay:195,04:55:00,04:55:00,2,NaN,NaN,21063.0
2,VYG:ServiceJourney:1002_385192-R,NSR:Quay:886,05:07:00,05:08:00,3,NaN,NaN,41884.0
3,VYG:ServiceJourney:1002_385192-R,NSR:Quay:83,05:14:00,05:14:00,4,NaN,NaN,51426.0
4,VYG:ServiceJourney:1002_385192-R,NSR:Quay:736,05:17:00,05:17:00,5,NaN,NaN,53495.0

In [43]:
calender_dates = calender_dates[calender_dates["date"] == 20251124]
monday_service = calender_dates["service_id"].tolist()
print(monday_service)

['VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-22-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-29-2025-11-30-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-06-2025-12-07-2025-12-08-2025-12-0-849732677', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-22-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-29-2025-11-30-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-06-2025-12-07-2025-12-08-2025-12-01520547124', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-22-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-29-2025-11-30-2025-12-01-2025-12-07-2025-12-08', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-22-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-29-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-06-2025-12-07-2025-12-08-2025-12-09-2025-12-1-204006637', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-22-2025-11-23-2025-11-24-2025-11-26-2025-11-27-2025-11-28-2025-11-29-2025-11-30-2025-12-01-2025-12-03-2025-12-04-2025-12-05-2025-12-06-2025-12-07-2025-12-08-2025-12-10-2025-12-11-2025-12-1-111911577', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-22-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-29-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-06-2025-12-08-2025-12-09-2025-12-10-2025-12-11-2025-12-1-111911577', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-30-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-07-2025-12-08-2025-12-09-2025-12-10-2025-12-11-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-11-30-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-08-2025-12-09-2025-12-10-2025-12-11-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-28-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-08-2025-12-09-2025-12-10-2025-12-11-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-08-2025-12-09-2025-12-10-2025-12-11-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-24-2025-11-25-2025-11-26-2025-11-28-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-05-2025-12-08-2025-12-09-2025-12-10-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-21-2025-11-24-2025-11-26-2025-11-27-2025-11-28-2025-12-01-2025-12-03-2025-12-04-2025-12-05-2025-12-08-2025-12-10-2025-12-11-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-22-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-29-2025-11-30-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-06-2025-12-07-2025-12-08-2025-12-09-2025-12-10-2025-12-11-2025-12-13', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-23-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-11-30-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-07-2025-12-08-2025-12-09-2025-12-10-2025-12-11', 'VYG:OperatingDay:2025-11-19-2025-11-20-2025-11-24-2025-11-25-2025-11-26-2025-11-27-2025-12-01-2025-12-02-2025-12-03-2025-12-04-2025-12-08-2025-12-09-2025-12-10-2025-12-11', 'VYG:OperatingDay:2025-11-19-2025-11-21-2025-11-24-2025-11-25-2025-11-26-2025-11-28-2025-12-01-2025-12-02-2025-12-03-2025-12-05-2025-12-08-2025-12-09-2025-12-10-2025-12-12', 'VYG:OperatingDay:2025-11-19-2025-11-24-2025-11-25-2025-11-26-2025-12-01-2025-12-02-2025-12-03-2025-12-08-2025-12-09-2025-12-10', 'VYG:OperatingDay:2025-11-20-2025-11-21-2025-11-22-2025-11-23-2025-11-24-2025-11-25-2025-11-27-2025-11-28-2025-11-29-2025-11-30-2025-12-01-2025-12-02-2025-12-04-2025-12-05-2025-12-06-2025-12-07-2025-12-08-2025-12-09-2025-12-11-2025-12-12-2025-12-13', 'VYG:OperatingDay:2025-11-20-2025-11-21-2025-11-24-2025-11-25-2025-11-27-2025-11-28-2025-12-01-2025-12-02-2025-12-04-2025-12-05-2025-12-08-2025-12-09-2025-12-11-2025-12-12', 'VYG:OperatingDay:2025-11-20-2025-11-24-2025-11-27-2025-12-01-2025-12-04-2025-12-08-2025-12-11', 'VYG:OperatingDay:2025-11-21-2025-11-23-2025-11-24-2025-11-25-2025-11-28-2025-11-30-2025-12-01-2025-12-02-2025-12-05-2025-12-07-2025-12-08-2025-12-09-2025-12-12', 'VYG:OperatingDay:2025-11-22-2025-11-23-2025-11-24-2025-11-29-2025-11-30-2025-12-01-2025-12-06-2025-12-07-2025-12-08-2025-12-13', 'VYG:OperatingDay:2025-11-22-2025-11-24-2025-11-29-2025-12-01-2025-12-06-2025-12-08-2025-12-13', 'VYG:OperatingDay:2025-11-23-2025-11-24-2025-11-30-2025-12-01-2025-12-07-2025-12-08', 'VYG:OperatingDay:2025-11-24-2025-12-01-2025-12-08']

In [44]:
trips = pd.read_csv("trips.txt")
trips = trips[trips["service_id"].isin(monday_service)]
display(trips.head())
monday_trips = trips["trip_id"].tolist()

,route_id,trip_id,service_id,trip_headsign,direction_id,shape_id,boarding_type
0,VYG:Line:R14,VYG:ServiceJourney:1002_385192-R,VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...,Asker,0,VYG:JourneyPattern:R14-805,0
2,VYG:Line:R14,VYG:ServiceJourney:1003_348472-R,VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...,Kongsvinger,0,VYG:JourneyPattern:R14-807,0
5,VYG:Line:R14,VYG:ServiceJourney:1004_420909-R,VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...,Asker,0,VYG:JourneyPattern:R14-805,0
8,VYG:Line:R14,VYG:ServiceJourney:1005_348474-R,VYG:OperatingDay:2025-11-19-2025-11-20-2025-11...,Kongsvinger,0,VYG:JourneyPattern:R14-813,0
12,VYG:Line:R14,VYG:ServiceJourney:1006_420912-R,VYG:OperatingDay:2025-11-23-2025-11-24-2025-11...,Asker,0,VYG:JourneyPattern:R14-805,0

In [48]:
stop_times = stop_times[stop_times["trip_id"].isin(monday_trips)]
stop_times_by_stop = stop_times.sort_values(by=['stop_id', 'departure_time'])
display(stop_times_by_stop.head())

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
47874,VYG:ServiceJourney:308-DOM_349009-R,NSR:Quay:10,05:54:00,05:54:00,3,NaN,NaN,45775.0
50552,VYG:ServiceJourney:329-SUD_462347-R,NSR:Quay:10,22:04:00,22:05:00,21,NaN,NaN,335498.0
19851,VYG:ServiceJourney:1952_252362-R,NSR:Quay:100,06:17:00,06:17:00,3,3.0,3.0,9998.0
19894,VYG:ServiceJourney:1954_252364-R,NSR:Quay:100,07:20:00,07:20:00,3,3.0,3.0,9998.0
19836,VYG:ServiceJourney:1951-LOD_353990-R,NSR:Quay:100,16:29:00,16:29:00,11,3.0,3.0,66957.0

In [52]:
stop_times_by_stop['departure_time_dt'] = pd.to_timedelta(stop_times_by_stop['departure_time'])
min_gaps = {}
for stop, group in stop_times_by_stop.groupby('stop_id'):
    # Sort departures
    departures = group['departure_time_dt'].sort_values()
    
    # Compute differences between consecutive departures
    diffs = departures.diff().dropna()  # drop the NaT for the first row
    
    if not diffs.empty:
        min_gap = diffs.min()
        min_gaps[stop] = min_gap
    else:
        # Only one departure at this stop
        min_gaps[stop] = pd.Timedelta(0)

print(min_gaps)

{'NSR:Quay:10': Timedelta('0 days 16:11:00'), 'NSR:Quay:100': Timedelta('0 days 00:36:00'), 'NSR:Quay:100138': Timedelta('0 days 00:19:00'), 'NSR:Quay:1002': Timedelta('0 days 00:10:00'), 'NSR:Quay:100304': Timedelta('0 days 00:30:00'), 'NSR:Quay:100305': Timedelta('0 days 00:55:00'), 'NSR:Quay:100308': Timedelta('0 days 00:28:00'), 'NSR:Quay:1008': Timedelta('0 days 00:11:00'), 'NSR:Quay:101598': Timedelta('0 days 00:03:00'), 'NSR:Quay:1017': Timedelta('0 days 00:13:00'), 'NSR:Quay:102': Timedelta('0 days 00:09:00'), 'NSR:Quay:102055': Timedelta('0 days 00:15:00'), 'NSR:Quay:102437': Timedelta('0 days 01:30:00'), 'NSR:Quay:1025': Timedelta('0 days 00:10:00'), 'NSR:Quay:1027': Timedelta('0 days 15:42:00'), 'NSR:Quay:1028': Timedelta('0 days 00:59:00'), 'NSR:Quay:1037': Timedelta('0 days 01:00:00'), 'NSR:Quay:1038': Timedelta('0 days 00:10:00'), 'NSR:Quay:1043': Timedelta('0 days 00:14:00'), 'NSR:Quay:104381': Timedelta('0 days 00:12:00'), 'NSR:Quay:1044': Timedelta('0 days 00:22:00'), 'NSR:Quay:1045': Timedelta('0 days 00:28:00'), 'NSR:Quay:104582': Timedelta('0 days 00:10:00'), 'NSR:Quay:1047': Timedelta('0 days 00:29:00'), 'NSR:Quay:105': Timedelta('0 days 01:00:00'), 'NSR:Quay:1054': Timedelta('0 days 17:12:00'), 'NSR:Quay:1055': Timedelta('0 days 00:18:00'), 'NSR:Quay:1057': Timedelta('0 days 00:27:00'), 'NSR:Quay:105763': Timedelta('0 days 01:00:00'), 'NSR:Quay:1061': Timedelta('0 days 00:14:00'), 'NSR:Quay:106166': Timedelta('0 days 01:00:00'), 'NSR:Quay:1063': Timedelta('0 days 00:14:00'), 'NSR:Quay:1067': Timedelta('0 days 16:54:00'), 'NSR:Quay:1069': Timedelta('0 days 00:09:00'), 'NSR:Quay:1071': Timedelta('0 days 00:32:00'), 'NSR:Quay:107150': Timedelta('0 days 00:03:00'), 'NSR:Quay:107151': Timedelta('0 days 00:04:00'), 'NSR:Quay:1072': Timedelta('0 days 00:10:00'), 'NSR:Quay:107764': Timedelta('0 days 00:16:00'), 'NSR:Quay:108': Timedelta('0 days 00:27:00'), 'NSR:Quay:109': Timedelta('0 days 00:25:00'), 'NSR:Quay:109126': Timedelta('0 days 00:00:00'), 'NSR:Quay:1093': Timedelta('0 days 00:28:00'), 'NSR:Quay:1094': Timedelta('0 days 00:19:00'), 'NSR:Quay:1099': Timedelta('0 days 00:08:00'), 'NSR:Quay:1100': Timedelta('0 days 00:29:00'), 'NSR:Quay:1101': Timedelta('0 days 00:28:00'), 'NSR:Quay:1106': Timedelta('0 days 00:09:00'), 'NSR:Quay:111': Timedelta('0 days 01:18:00'), 'NSR:Quay:1112': Timedelta('0 days 00:16:00'), 'NSR:Quay:1113': Timedelta('0 days 00:28:00'), 'NSR:Quay:1116': Timedelta('0 days 00:15:00'), 'NSR:Quay:1117': Timedelta('0 days 00:14:00'), 'NSR:Quay:1118': Timedelta('0 days 02:00:00'), 'NSR:Quay:1121': Timedelta('0 days 00:30:00'), 'NSR:Quay:1122': Timedelta('0 days 00:29:30'), 'NSR:Quay:1129': Timedelta('0 days 00:26:00'), 'NSR:Quay:113': Timedelta('0 days 00:29:00'), 'NSR:Quay:1130': Timedelta('0 days 00:15:00'), 'NSR:Quay:1134': Timedelta('0 days 00:00:00'), 'NSR:Quay:1136': Timedelta('0 days 00:13:00'), 'NSR:Quay:1137': Timedelta('0 days 01:00:00'), 'NSR:Quay:1140': Timedelta('0 days 00:07:00'), 'NSR:Quay:1150': Timedelta('0 days 00:04:00'), 'NSR:Quay:1151': Timedelta('0 days 00:05:00'), 'NSR:Quay:1154': Timedelta('0 days 00:09:00'), 'NSR:Quay:1157': Timedelta('0 days 00:13:00'), 'NSR:Quay:1158': Timedelta('0 days 00:35:00'), 'NSR:Quay:1168': Timedelta('0 days 00:15:00'), 'NSR:Quay:1170': Timedelta('0 days 00:15:00'), 'NSR:Quay:121': Timedelta('0 days 00:10:00'), 'NSR:Quay:129': Timedelta('0 days 00:06:00'), 'NSR:Quay:13': Timedelta('0 days 00:15:00'), 'NSR:Quay:130': Timedelta('0 days 01:58:00'), 'NSR:Quay:14': Timedelta('0 days 00:14:00'), 'NSR:Quay:141': Timedelta('0 days 00:00:00'), 'NSR:Quay:142': Timedelta('0 days 00:06:00'), 'NSR:Quay:144': Timedelta('0 days 00:24:00'), 'NSR:Quay:149': Timedelta('0 days 00:02:00'), 'NSR:Quay:152': Timedelta('0 days 00:10:00'), 'NSR:Quay:153': Timedelta('0 days 01:11:00'), 'NSR:Quay:157': Timedelta('0 days 00:15:00'), 'NSR:Quay:158': Timedelta('0 days 00:15:00'), 'NSR:Quay:163': Timedelta('0 days 00:12:00'), 'NSR:Quay:169': Timedelta('0 days 00:02:00'), 'NSR:Quay:170': Timedelta('0 days 02:00:00'), 'NSR:Quay:178': Timedelta('0 days 00:42:00'), 'NSR:Quay:18': Timedelta('0 days 00:11:00'), 'NSR:Quay:19': Timedelta('0 days 00:10:00'), 'NSR:Quay:195': Timedelta('0 days 00:13:00'), 'NSR:Quay:197': Timedelta('0 days 00:30:00'), 'NSR:Quay:198': Timedelta('0 days 00:30:00'), 'NSR:Quay:199': Timedelta('0 days 00:05:00'), 'NSR:Quay:20': Timedelta('0 days 00:00:00'), 'NSR:Quay:200': Timedelta('0 days 00:03:00'), 'NSR:Quay:201': Timedelta('0 days 00:05:00'), 'NSR:Quay:206': Timedelta('0 days 00:10:00'), 'NSR:Quay:207': Timedelta('0 days 01:00:00'), 'NSR:Quay:208': Timedelta('0 days 00:36:00'), 'NSR:Quay:212': Timedelta('0 days 00:10:00'), 'NSR:Quay:213': Timedelta('0 days 00:08:00'), 'NSR:Quay:217': Timedelta('0 days 01:00:00'), 'NSR:Quay:218': Timedelta('0 days 00:14:00'), 'NSR:Quay:22': Timedelta('0 days 00:03:00'), 'NSR:Quay:234': Timedelta('0 days 00:20:00'), 'NSR:Quay:235': Timedelta('0 days 00:15:00'), 'NSR:Quay:236': Timedelta('0 days 00:04:00'), 'NSR:Quay:237': Timedelta('0 days 00:03:00'), 'NSR:Quay:238': Timedelta('0 days 00:04:00'), 'NSR:Quay:239': Timedelta('0 days 00:02:00'), 'NSR:Quay:24': Timedelta('0 days 00:05:00'), 'NSR:Quay:246': Timedelta('0 days 00:04:00'), 'NSR:Quay:247': Timedelta('0 days 00:04:00'), 'NSR:Quay:248': Timedelta('0 days 00:04:00'), 'NSR:Quay:250': Timedelta('0 days 00:03:00'), 'NSR:Quay:257': Timedelta('0 days 00:08:00'), 'NSR:Quay:258': Timedelta('0 days 00:22:00'), 'NSR:Quay:26': Timedelta('0 days 00:07:00'), 'NSR:Quay:260': Timedelta('0 days 00:07:00'), 'NSR:Quay:261': Timedelta('0 days 00:12:00'), 'NSR:Quay:269': Timedelta('0 days 00:15:00'), 'NSR:Quay:271': Timedelta('0 days 00:15:00'), 'NSR:Quay:274': Timedelta('0 days 00:12:00'), 'NSR:Quay:275': Timedelta('0 days 00:30:00'), 'NSR:Quay:276': Timedelta('0 days 00:15:00'), 'NSR:Quay:278': Timedelta('0 days 00:15:00'), 'NSR:Quay:30': Timedelta('0 days 00:11:00'), 'NSR:Quay:300': Timedelta('0 days 00:08:00'), 'NSR:Quay:305': Timedelta('0 days 00:14:00'), 'NSR:Quay:306': Timedelta('0 days 00:12:00'), 'NSR:Quay:312': Timedelta('0 days 00:00:00'), 'NSR:Quay:313': Timedelta('0 days 00:19:00'), 'NSR:Quay:316': Timedelta('0 days 00:10:00'), 'NSR:Quay:32': Timedelta('0 days 14:54:00'), 'NSR:Quay:326': Timedelta('0 days 00:19:00'), 'NSR:Quay:329': Timedelta('0 days 00:14:00'), 'NSR:Quay:330': Timedelta('0 days 00:15:00'), 'NSR:Quay:331': Timedelta('0 days 00:25:00'), 'NSR:Quay:332': Timedelta('0 days 00:11:00'), 'NSR:Quay:333': Timedelta('0 days 00:08:00'), 'NSR:Quay:339': Timedelta('0 days 00:15:00'), 'NSR:Quay:340': Timedelta('0 days 00:15:00'), 'NSR:Quay:353': Timedelta('0 days 00:10:00'), 'NSR:Quay:355': Timedelta('0 days 00:16:00'), 'NSR:Quay:36': Timedelta('0 days 00:16:00'), 'NSR:Quay:361': Timedelta('0 days 00:16:00'), 'NSR:Quay:365': Timedelta('0 days 00:08:00'), 'NSR:Quay:366': Timedelta('0 days 00:07:00'), 'NSR:Quay:368': Timedelta('0 days 01:21:00'), 'NSR:Quay:371': Timedelta('0 days 00:08:00'), 'NSR:Quay:373': Timedelta('0 days 00:58:00'), 'NSR:Quay:379': Timedelta('0 days 00:15:00'), 'NSR:Quay:380': Timedelta('0 days 00:14:00'), 'NSR:Quay:381': Timedelta('0 days 00:25:00'), 'NSR:Quay:390': Timedelta('0 days 00:10:00'), 'NSR:Quay:391': Timedelta('0 days 01:00:00'), 'NSR:Quay:392': Timedelta('0 days 00:02:00'), 'NSR:Quay:400': Timedelta('0 days 00:18:00'), 'NSR:Quay:401': Timedelta('0 days 00:18:00'), 'NSR:Quay:402': Timedelta('0 days 00:06:00'), 'NSR:Quay:417': Timedelta('0 days 00:11:00'), 'NSR:Quay:418': Timedelta('0 days 00:11:00'), 'NSR:Quay:425': Timedelta('0 days 00:18:00'), 'NSR:Quay:427': Timedelta('0 days 00:29:00'), 'NSR:Quay:428': Timedelta('0 days 00:29:00'), 'NSR:Quay:432': Timedelta('0 days 10:02:00'), 'NSR:Quay:433': Timedelta('0 days 00:24:00'), 'NSR:Quay:439': Timedelta('0 days 00:30:00'), 'NSR:Quay:440': Timedelta('0 days 00:53:00'), 'NSR:Quay:441': Timedelta('0 days 00:27:00'), 'NSR:Quay:442': Timedelta('0 days 00:08:00'), 'NSR:Quay:451': Timedelta('0 days 00:08:00'), 'NSR:Quay:452': Timedelta('0 days 00:10:00'), 'NSR:Quay:455': Timedelta('0 days 13:55:00'), 'NSR:Quay:461': Timedelta('0 days 00:05:00'), 'NSR:Quay:473': Timedelta('0 days 00:15:00'), 'NSR:Quay:474': Timedelta('0 days 00:15:00'), 'NSR:Quay:475': Timedelta('0 days 00:04:00'), 'NSR:Quay:476': Timedelta('0 days 00:03:00'), 'NSR:Quay:477': Timedelta('0 days 00:03:00'), 'NSR:Quay:478': Timedelta('0 days 00:04:00'), 'NSR:Quay:479': Timedelta('0 days 00:06:00'), 'NSR:Quay:48': Timedelta('0 days 00:11:00'), 'NSR:Quay:481': Timedelta('0 days 00:22:00'), 'NSR:Quay:485': Timedelta('0 days 00:14:00'), 'NSR:Quay:487': Timedelta('0 days 00:14:00'), 'NSR:Quay:494': Timedelta('0 days 00:05:00'), 'NSR:Quay:495': Timedelta('0 days 00:14:00'), 'NSR:Quay:496': Timedelta('0 days 00:14:00'), 'NSR:Quay:502': Timedelta('0 days 00:27:00'), 'NSR:Quay:504': Timedelta('0 days 00:15:00'), 'NSR:Quay:505': Timedelta('0 days 00:15:00'), 'NSR:Quay:512': Timedelta('0 days 00:43:00'), 'NSR:Quay:515': Timedelta('0 days 00:15:00'), 'NSR:Quay:516': Timedelta('0 days 00:15:00'), 'NSR:Quay:522': Timedelta('0 days 00:00:00'), 'NSR:Quay:523': Timedelta('0 days 00:25:00'), 'NSR:Quay:524': Timedelta('0 days 00:14:00'), 'NSR:Quay:525': Timedelta('0 days 00:14:00'), 'NSR:Quay:529': Timedelta('0 days 00:14:00'), 'NSR:Quay:530': Timedelta('0 days 00:38:00'), 'NSR:Quay:531': Timedelta('0 days 00:15:00'), 'NSR:Quay:532': Timedelta('0 days 00:00:00'), 'NSR:Quay:534': Timedelta('0 days 00:38:00'), 'NSR:Quay:548': Timedelta('0 days 00:06:00'), 'NSR:Quay:550': Timedelta('0 days 00:07:00'), 'NSR:Quay:551': Timedelta('0 days 00:05:00'), 'NSR:Quay:553': Timedelta('0 days 00:06:00'), 'NSR:Quay:554': Timedelta('0 days 00:10:00'), 'NSR:Quay:555': Timedelta('0 days 00:10:00'), 'NSR:Quay:556': Timedelta('0 days 00:04:00'), 'NSR:Quay:557': Timedelta('0 days 00:00:00'), 'NSR:Quay:558': Timedelta('0 days 00:06:00'), 'NSR:Quay:559': Timedelta('0 days 00:10:00'), 'NSR:Quay:561': Timedelta('0 days 00:09:00'), 'NSR:Quay:562': Timedelta('0 days 00:04:00'), 'NSR:Quay:563': Timedelta('0 days 00:00:00'), 'NSR:Quay:564': Timedelta('0 days 00:01:00'), 'NSR:Quay:565': Timedelta('0 days 00:14:00'), 'NSR:Quay:566': Timedelta('0 days 00:07:00'), 'NSR:Quay:567': Timedelta('0 days 00:06:00'), 'NSR:Quay:568': Timedelta('0 days 00:10:00'), 'NSR:Quay:571': Timedelta('0 days 00:08:00'), 'NSR:Quay:572': Timedelta('0 days 00:19:00'), 'NSR:Quay:573': Timedelta('0 days 00:20:00'), 'NSR:Quay:577': Timedelta('0 days 00:18:00'), 'NSR:Quay:580': Timedelta('0 days 00:00:00'), 'NSR:Quay:582': Timedelta('0 days 00:13:00'), 'NSR:Quay:584': Timedelta('0 days 00:18:00'), 'NSR:Quay:589': Timedelta('0 days 00:18:00'), 'NSR:Quay:596': Timedelta('0 days 00:19:00'), 'NSR:Quay:600': Timedelta('0 days 00:15:00'), 'NSR:Quay:601': Timedelta('0 days 00:23:00'), 'NSR:Quay:604': Timedelta('0 days 00:15:00'), 'NSR:Quay:610': Timedelta('0 days 00:19:00'), 'NSR:Quay:611': Timedelta('0 days 00:17:00'), 'NSR:Quay:612': Timedelta('0 days 00:09:00'), 'NSR:Quay:613': Timedelta('0 days 00:06:00'), 'NSR:Quay:616': Timedelta('0 days 00:14:00'), 'NSR:Quay:617': Timedelta('0 days 00:14:00'), 'NSR:Quay:627': Timedelta('0 days 00:15:00'), 'NSR:Quay:628': Timedelta('0 days 00:14:00'), 'NSR:Quay:632': Timedelta('0 days 00:05:00'), 'NSR:Quay:634': Timedelta('0 days 00:19:00'), 'NSR:Quay:635': Timedelta('0 days 00:08:00'), 'NSR:Quay:638': Timedelta('0 days 00:14:00'), 'NSR:Quay:639': Timedelta('0 days 00:14:00'), 'NSR:Quay:640': Timedelta('0 days 00:15:00'), 'NSR:Quay:641': Timedelta('0 days 00:15:00'), 'NSR:Quay:65': Timedelta('0 days 00:15:00'), 'NSR:Quay:656': Timedelta('0 days 00:15:00'), 'NSR:Quay:657': Timedelta('0 days 00:14:00'), 'NSR:Quay:659': Timedelta('0 days 00:07:00'), 'NSR:Quay:66': Timedelta('0 days 00:15:00'), 'NSR:Quay:660': Timedelta('0 days 00:21:00'), 'NSR:Quay:666': Timedelta('0 days 00:12:00'), 'NSR:Quay:667': Timedelta('0 days 00:59:00'), 'NSR:Quay:67': Timedelta('0 days 00:27:00'), 'NSR:Quay:682': Timedelta('0 days 00:21:00'), 'NSR:Quay:684': Timedelta('0 days 01:02:00'), 'NSR:Quay:695': Timedelta('0 days 00:12:00'), 'NSR:Quay:696': Timedelta('0 days 00:13:00'), 'NSR:Quay:697': Timedelta('0 days 00:03:00'), 'NSR:Quay:698': Timedelta('0 days 00:04:00'), 'NSR:Quay:699': Timedelta('0 days 00:12:00'), 'NSR:Quay:700': Timedelta('0 days 00:20:00'), 'NSR:Quay:701': Timedelta('0 days 00:26:00'), 'NSR:Quay:702': Timedelta('0 days 00:00:00'), 'NSR:Quay:703': Timedelta('0 days 00:26:00'), 'NSR:Quay:709': Timedelta('0 days 15:25:00'), 'NSR:Quay:711': Timedelta('0 days 00:30:00'), 'NSR:Quay:712': Timedelta('0 days 00:30:00'), 'NSR:Quay:718': Timedelta('0 days 00:31:00'), 'NSR:Quay:72': Timedelta('0 days 00:38:00'), 'NSR:Quay:721': Timedelta('0 days 00:15:00'), 'NSR:Quay:723': Timedelta('0 days 00:15:00'), 'NSR:Quay:73': Timedelta('0 days 00:06:00'), 'NSR:Quay:731': Timedelta('0 days 00:35:00'), 'NSR:Quay:732': Timedelta('0 days 00:16:00'), 'NSR:Quay:733': Timedelta('0 days 00:22:00'), 'NSR:Quay:734': Timedelta('0 days 00:09:00'), 'NSR:Quay:736': Timedelta('0 days 00:05:00'), 'NSR:Quay:740': Timedelta('0 days 00:24:00'), 'NSR:Quay:746': Timedelta('0 days 00:32:00'), 'NSR:Quay:747': Timedelta('0 days 00:04:00'), 'NSR:Quay:749': Timedelta('0 days 00:06:00'), 'NSR:Quay:750': Timedelta('0 days 00:30:00'), 'NSR:Quay:754': Timedelta('0 days 00:07:00'), 'NSR:Quay:755': Timedelta('0 days 00:20:00'), 'NSR:Quay:756': Timedelta('0 days 00:01:00'), 'NSR:Quay:761': Timedelta('0 days 00:12:00'), 'NSR:Quay:768': Timedelta('0 days 01:03:00'), 'NSR:Quay:775': Timedelta('0 days 00:37:00'), 'NSR:Quay:778': Timedelta('0 days 00:32:00'), 'NSR:Quay:78': Timedelta('0 days 01:00:00'), 'NSR:Quay:782': Timedelta('0 days 00:30:00'), 'NSR:Quay:788': Timedelta('0 days 00:14:00'), 'NSR:Quay:790': Timedelta('0 days 00:05:00'), 'NSR:Quay:793': Timedelta('0 days 00:17:00'), 'NSR:Quay:800': Timedelta('0 days 01:07:00'), 'NSR:Quay:803': Timedelta('0 days 00:13:00'), 'NSR:Quay:810': Timedelta('0 days 00:14:00'), 'NSR:Quay:811': Timedelta('0 days 00:14:00'), 'NSR:Quay:812': Timedelta('0 days 00:06:00'), 'NSR:Quay:822': Timedelta('0 days 00:13:00'), 'NSR:Quay:823': Timedelta('0 days 00:07:00'), 'NSR:Quay:827': Timedelta('0 days 00:08:00'), 'NSR:Quay:829': Timedelta('0 days 01:00:00'), 'NSR:Quay:83': Timedelta('0 days 00:28:00'), 'NSR:Quay:835': Timedelta('0 days 00:35:00'), 'NSR:Quay:836': Timedelta('0 days 01:56:00'), 'NSR:Quay:842': Timedelta('0 days 01:00:00'), 'NSR:Quay:843': Timedelta('0 days 00:30:00'), 'NSR:Quay:845': Timedelta('0 days 00:29:30'), 'NSR:Quay:849': Timedelta('0 days 00:20:00'), 'NSR:Quay:850': Timedelta('0 days 00:14:00'), 'NSR:Quay:851': Timedelta('0 days 00:54:00'), 'NSR:Quay:852': Timedelta('0 days 00:16:00'), 'NSR:Quay:853': Timedelta('0 days 00:39:00'), 'NSR:Quay:863': Timedelta('0 days 00:11:00'), 'NSR:Quay:869': Timedelta('0 days 00:15:00'), 'NSR:Quay:870': Timedelta('0 days 00:15:00'), 'NSR:Quay:872': Timedelta('0 days 00:18:00'), 'NSR:Quay:873': Timedelta('0 days 00:18:00'), 'NSR:Quay:878': Timedelta('0 days 00:49:00'), 'NSR:Quay:879': Timedelta('0 days 00:30:00'), 'NSR:Quay:880': Timedelta('0 days 00:30:00'), 'NSR:Quay:886': Timedelta('0 days 00:15:00'), 'NSR:Quay:890': Timedelta('0 days 00:14:00'), 'NSR:Quay:898': Timedelta('0 days 00:14:00'), 'NSR:Quay:899': Timedelta('0 days 00:09:00'), 'NSR:Quay:900': Timedelta('0 days 00:39:00'), 'NSR:Quay:901': Timedelta('0 days 00:07:00'), 'NSR:Quay:905': Timedelta('0 days 00:38:00'), 'NSR:Quay:906': Timedelta('0 days 00:30:00'), 'NSR:Quay:907': Timedelta('0 days 00:14:00'), 'NSR:Quay:911': Timedelta('0 days 00:14:00'), 'NSR:Quay:912': Timedelta('0 days 00:27:00'), 'NSR:Quay:922': Timedelta('0 days 00:08:00'), 'NSR:Quay:935': Timedelta('0 days 00:06:00'), 'NSR:Quay:94': Timedelta('0 days 00:14:00'), 'NSR:Quay:943': Timedelta('0 days 00:14:00'), 'NSR:Quay:945': Timedelta('0 days 00:14:00'), 'NSR:Quay:95': Timedelta('0 days 00:15:00'), 'NSR:Quay:951': Timedelta('0 days 00:15:00'), 'NSR:Quay:96': Timedelta('0 days 00:15:00'), 'NSR:Quay:990': Timedelta('0 days 00:14:00'), 'NSR:Quay:991': Timedelta('0 days 00:03:00'), 'NSR:Quay:992': Timedelta('0 days 00:14:00'), 'NSR:Quay:993': Timedelta('0 days 00:03:00')}

In [60]:
nodes_norway['min_headway'] = np.nan

for row in nodes_norway.itertuples():
    if row.stopPlaceId in min_gaps:
        nodes_norway.loc[row.Index, "min_headway"] = min_gaps[row.stopPlaceId]

nodes_norway = nodes_norway.dropna(subset=['min_headway'])

display(nodes_norway.head())

C:\Users\Vegar\AppData\Local\Temp\ipykernel_22700\1322773357.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0 days 00:04:00' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  nodes_norway.loc[row.Index, "min_headway"] = min_gaps[row.stopPlaceId]

,id,stopPlaceId,name,lat,lon,modes,stopType,min_headway
4383,NSR:Quay:1150,NSR:Quay:1150,Stabekk stasjon,59.907994,10.607316,rail,rail,0 days 00:04:00
4384,NSR:Quay:247,NSR:Quay:247,Lysaker stasjon,59.913404,10.637244,rail,rail,0 days 00:04:00
4385,NSR:Quay:236,NSR:Quay:236,Skøyen stasjon,59.922268,10.678630,rail,rail,0 days 00:04:00
4386,NSR:Quay:476,NSR:Quay:476,Nationaltheatret stasjon,59.915260,10.727513,rail,rail,0 days 00:03:00
4387,NSR:Quay:557,NSR:Quay:557,Oslo S,59.910261,10.754866,rail,rail,0 days 00:00:00